.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  border: 1px solid var(--primary-green);
  padding: 40px;
  border-radius: 20px;
}

.image {
  border-radius: 10px;
}

.row {
  display: flex;
}

.row > b {
  flex: 1;
}
.row > p {
  flex: 3;
}
