.container {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  gap: 20px;
}

.image {
  border-radius: 20px;
  object-fit: cover;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
}

.leftDetail {
  display: flex;
  gap: 20px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttonContainer {
    margin: auto;
}