:root {
  --max-width: 1280px;
  --border-radius: 12px;

  --primary-green: #55b76b;
  --accent-green: #8BD2A0;
  --neutral-grey: #333333;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: auto;
  overflow-x: hidden;
}

html {
  background-color: var(--white);
}

body {
  background-color: var(--white);
  height: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 16px;
}

a {
  color: var(--primary-green);
  text-decoration: none;
}

ul, ol {
  list-style-position: inside;
}

select {
  padding: 10px 20px;
  border-radius: 20px;
}

table {
  min-width: 700px; 
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #333;
}

table th, table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  max-height: 200px;
}

table th {
  background-color: #fafafa;
  font-weight: bold;
  position: relative;
}

table th.sortable {
  cursor: pointer;
}

table th.sortable::after {
  content: '⇅';
  font-size: 10px;
  margin-left: 5px;
  color: #888;
}

table td.amount, table td.status {
  text-align: center;
}

/* Status Indicator */
.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.status-claimed .status-circle {
  background-color: var(--primary-green); 
}

.status-shipped .status-circle {
  background-color: #FFC107; 
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

table td.action {
  text-align: center;
}

.action-menu {
  cursor: pointer;
  font-size: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

.ReactModal__Content {
  max-width: 800px;
  max-height: 800px;
  height: 100%;
  width: 100%; /* Full width within the container */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
