.footer {
  background-color: var(--neutral-grey);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: var(--max-width);
  padding: 40px;
  gap: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featInfoContainer {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
